@use 'base/variables' as v;
@use 'base/mixins' as m;


.acciones {

    // margin-top: v.$separacion;
    display: flex;
    justify-content: center;
    align-items: center;


    @include m.tablet {
        padding: 1rem;

    }


    a {
        color: $negro;
        display: flex;
        text-align: center;
        // margin-bottom: calc(v.$separacion / 2);
    }
}






