
.barra {
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    @include tablet{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    

}

.navegacion{

    visibility: visible;
    transition: visibility .3s ease-in-out, opacity .5s linear, heigth .5s linear;
    padding: 1rem;


    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        padding: 1rem;


    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;


    }
}

.boton-cerrar-sesion{

    padding: .5rem;
    border-radius: 25px;

    @include tablet{
        padding: .5rem;
        border-radius: 25px;
    }

    &:hover {
        background-color: black;
        color: white;
    }
}


/** Menu de hamburguesa **/

.mobile-menu{
    @include tablet {
        display: none;
    }
    img{
        width: 5rem;
    }
}

.mostrar{
    visibility: visible;
    opacity: 1;
    height: auto;
}


